<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<li id="visitSite"><%= link_to "Dashboard", bolt_dashboard_path %></li>
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "Banners", bolt_banners_path %></li>
<li id="visitSite"><%= link_to "Settings", bolt_settings_path %></li>
<li id="visitSite"><%= link_to "Articles categories", bolt_articles_categories_path %></li>
<li id="visitSite"><%= link_to "User statuses", bolt_user_statuses_path %></li>
<li id="visitSite"><%= link_to "Articles", bolt_articles_path %></li>

