<script type="text/javascript" src="/assets/javascript_functions.js" ></script>
<table  width="100%"><td width="1%"><%= image_tag("access.png",:size => '40x40') %></td><td><font color="blue" size="5">Access Manager: Articles</td>

<td><p style="text-align:right;">new&nbsp;&nbsp;edit&nbsp;&nbsp;delete</p>
<p style="text-align:right;"><a  href="<%= new_bolt_access_path %>" ><%= image_tag("new.png") %></a>&nbsp;&nbsp;
<a id="edit"  href="javascript:void(0)" onclick="edit_rec('/bolt/accesses/');"><%= image_tag("edit.png",:size=>"20x20") %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a id="delete" href="javascript:void(0)" onclick="delete_rec('/bolt/accesses/destroy_multiple/');"><%= image_tag("delete.png") %></a>
&nbsp;&nbsp;</td></table>

<%= render :partial=>"title"%>

 
<style type="text/css">
table { border: 1px solid lightGrey }
#container { width: 100%; }
td { border: 3px solid white; }
th { border: 3px solid white; }
table#container tr:hover td {
  background-color:cornsilk ;
}

</style>
</script>

<%unless @accesses.blank?%>
<h2>Accesses</h2>
<%= render :partial => 'bolt/accesses/table', :locals => { :accesses => @accesses } %>
<%else%>
<h2>No Accesses</h2>
<%end%>

<%= will_paginate @accesses %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{bolt_show_icon "add"}Add a new access".html_safe, new_bolt_access_path %></li>
<% end %>
