


<h2>Add a new category</h2>

<%= form_for @category, :url => bolt_categories_path do |f| %>
	
	<%= render :partial => 'bolt/categories/form', :locals => { :f => f } %>
	
	<p class="submits">
		<%= link_to 'Cancel', bolt_categories_path, :class => 'cancel' %> or
		<%= f.submit "Add new category", :class => "update" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{bolt_show_icon "table"}Back to list".html_safe, bolt_categories_path %></li>
<% end %>
