<%= stylesheet_link_tag  "/bolt/stylesheets/bubble.css"%> 
<table BORDERCOLOR="lightGrey"bgcolor="Cornsilk "border="1"cellpadding="10" cellspacing="30">
	<br/>	<br/>
  <tr>
    <td style="padding:10px;text-align: center;" bgcolor="white">
      User Manager<br/>
      <ul class="bubblewrap">
      <li> <a href= "<%= bolt_users_path%>" title="User Management"> <%= image_tag("/bolt/images/user.png",:size => '100x50') %> </a></li>
       </ul>
    </td>
    <td style="padding:10px;text-align: center;" bgcolor="white">
      Article Manager<br/>
       <ul class="bubblewrap">
      <li><a  href="<%= bolt_articles_path %>" ><%= image_tag("/bolt/images/article.png",:size => '50x50') %></a></li>
      </ul>

    </td>
    <td style="padding:10px;text-align: center;" bgcolor="white">
      Media Manager<br/>
       <ul class="bubblewrap">
     <li> <a  href="<%= bolt_media_path %>" ><%= image_tag("/bolt/images/media.png",:size => '50x50') %></a></li>
     </ul>

    </td>
    <td style="padding:10px;text-align: center;" bgcolor="white">
      Page Manager<br/>
       <ul class="bubblewrap">
      <li><a href="<%= bolt_pages_path %>" ><%= image_tag("/bolt/images/page_manager.png",:size => '40x40') %></a></li>
      </ul>

    </td>
  </tr>
  
  <tr>
  	<td style="padding:10px;text-align: center;" bgcolor="white">
      Category Manger<br/>
       <ul class="bubblewrap">
      <li><a  href="<%= bolt_categories_path %>"><%= image_tag("/bolt/images/cat.png",:size => '50x50') %></a></li>
      </ul>

    </td>
  	
  	<td style="padding:10px;text-align: center;" bgcolor="white">
      Blog Manager<br/>
       <ul class="bubblewrap">
     <li> <a  href="<%= bolt_blogs_path %>"><%= image_tag("/bolt/images/blog.png",:size => '50x50') %></a></li>
     </ul>

    </td>
    
    
  	<td style="padding:10px;text-align: center;" bgcolor="white">
      Setting<br/>
       <ul class="bubblewrap">
     <li> <a  href="<%= bolt_settings_path%>"><%= image_tag("/bolt/images/setting.png",:size => '50x50') %></a></li>
     </ul>

    </td>
    
    </tr>
     
</table>


<html>
<head>



