<h2>Add a new setting</h2>

<%= form_for @setting, :url => bolt_settings_path,:html=>{:multipart=>true} do |f| %>
<%= render :partial => 'bolt/settings/form', :locals => { :f => f } %>
	
<p class="submits">
	<%= link_to 'Cancel', bolt_settings_path, :class => 'cancel' %> or
	<%= f.submit "Add new setting", :class => "update" %>
</p>

<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{bolt_show_icon "table"}Back to list".html_safe, bolt_settings_path %></li>
<% end %>
