
<h2>View article</h2>

<%= form_for @article, :url => bolt_article_path(@article) do |f| %>

<%= render :partial => 'bolt/articles/form', :locals => { :f => f } %>

<p class="submits">
  <%= link_to 'Cancel', bolt_articles_path, :class => 'cancel' %> or
  <%= f.submit "Save changes", :class => "update" %>
</p>

<% end %>

<%= content_for :sidebar do %>
<li><%= link_to "#{bolt_show_icon "table"}Back to list".html_safe, bolt_articles_path %></li>
<% end %>
