<script type="text/javascript" src="/bolt/javascripts/javascript_functions.js" ></script>
<table width="100%"><td width="1%"><%= image_tag("/bolt/images/status.png",:size => '40x40') %></td><td><font color="blue" size="5">Status Manager: Articles</td>

<td><p style="text-align:right;">new&nbsp;&nbsp;edit&nbsp;&nbsp;delete</p>
<p style="text-align:right;"><a  href="<%= new_bolt_status_path %>" ><%= image_tag("/bolt/images/new.png") %></a>&nbsp;&nbsp;
<a id="edit"  href="javascript:void(0)"  onclick="edit_rec('/bolt/statuses/');"><%= image_tag("/bolt/images/edit.png",:size=>"20x20") %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a id="delete" href="javascript:void(0)" onclick="delete_rec('/bolt/statuses/destroy_multiple/');"><%= image_tag("/bolt/images/delete.png") %></a>
&nbsp;&nbsp;</td></table>

<%= render :partial=>"title"%>
<br/><br/>
  
<style type="text/css">
table { border: 1px solid lightGrey }

#container { width: 100%; }
td { border: 3px solid white; }
th { border: 3px solid white; }

table#container tr:hover td {
  background-color:cornsilk ;
}
</style>

<%unless @statuses.blank?%>
<h2>Statuses</h2>
<%= render :partial => 'bolt/statuses/table', :locals => { :statuses => @statuses } %>
<%else%>
<h2>No Statuses</h2>
<%end%>


<%= will_paginate @statuses %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{bolt_show_icon "add"}Add a new status".html_safe, new_bolt_status_path %></li>
<% end %>
