

<h2>Add a new status</h2>

<%= form_for @status, :url => bolt_statuses_path do |f| %>
	
	<%= render :partial => 'bolt/statuses/form', :locals => { :f => f } %>
	
	<p class="submits">
		<%= link_to 'Cancel', bolt_statuses_path, :class => 'cancel' %> or
		<%= f.submit "Add new status", :class => "update" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{bolt_show_icon "table"}Back to list".html_safe, bolt_statuses_path %></li>
<% end %>
