<h1>Listing bolt_users_groups</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bolt_users_groups.each do |bolt_users_group| %>
  <tr>
    <td><%= bolt_users_group.user_id %></td>
    <td><%= bolt_users_group.group_id %></td>
    <td><%= link_to 'Show', bolt_users_group %></td>
    <td><%= link_to 'Edit', edit_bolt_users_group_path(bolt_users_group) %></td>
    <td><%= link_to 'Destroy', bolt_users_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users group', new_bolt_users_group_path %>
