

<h2>Add a new banner</h2>

<%= form_for @banner, :url => bolt_banners_path do |f| %>
	
	<%= render :partial => 'bolt/banners/form', :locals => { :f => f } %>
	
	<p class="submits">
		<%= link_to 'Cancel', bolt_banners_path, :class => 'cancel' %> or
		<%= f.submit "Add new banner", :class => "update" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{bolt_show_icon "table"}Back to list".html_safe, bolt_banners_path %></li>
<% end %>
