
<h2>View page section</h2>

<%= form_for @page_section, :url => backbone_page_section_path(@page_section) do |f| %>

	<%= render :partial => 'backbone/page_sections/form', :locals => { :f => f } %>
	
	<p class="submits">
	  <%= link_to 'Cancel', backbone_page_sections_path, :class => 'cancel' %> or
		<%= f.submit "Save changes", :class => "update" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{backbone_show_icon "table"}Back to list".html_safe, backbone_page_sections_path %></li>
<% end %>
