<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= bolt_generate_page_title %></title>
<script src="/assets/jquery-latest.js" type="text/javascript"></script>
    <% bolt_config_stylesheet_includes.each do |stylesheet| %>
    <%= stylesheet_link_tag(stylesheet) %>
    <% end %>
    
    <% bolt_config_javascript_includes.each do |javascript| %>
    <%= javascript_include_tag(javascript) %>
    <% end %>
    
    <%= javascript_include_tag "http://js.nicedit.com/nicEdit-latest.js" %>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>   
    
    <%= csrf_meta_tag %>
    <style type ="text/css">
    table
    {border: groove 1m ;
    border-radius: 1em;}
    td
    {border: groove 1m ;
    border-radius: 1em;}
    th
    {border: groove 1m ;
    border-radius: 1em;}
a:link, a:visited {
    color:;
}

    </style>

    <style type="text/css">
      p.margin
      {
        background-color:Cornsilk;
      }
      p.margin1
      {
        background-color:#0174DF;


padding-top:-3px
;
padding-bottom:-3px;
;

      }
      
    </style>
    <title>BOLT</title>
    <%= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "depot" , :media => "all" %>
    

    
     <%= bolt_stylesheet_link_tag  "jquery.treeview.css"%> 
       <%= bolt_stylesheet_link_tag "dropdown"%>   
    <%= bolt_javascript_include_tag "jquery" %>
    <%= bolt_javascript_include_tag "jquery.treeview.js" %>
       
        
    </head>
<body style="background-color:silver;">
<div id="banner">
<%= image_tag("logo.png",:size => '100x32' ) %>
<%= @page_title || "Administration" %>
</div>
   
<table  width="100%" height="1%"  >
  
<p class="margin"><div class='naviagtion'><ul id="menu">
  <p class="margin"><div class='naviagtion'><ul id="menu">
     	  
	  <li><a href="<%= root_path %>">Site</a>
	    <ul>
     	      <li><a href="<%= bolt_dashboard_path %>">Dashboard</a></li>
     	      <li><a href="<%= bolt_settings_path %>">Setting</a></li>
     	    </ul>	
     	  </li>
     	  
	  <li><a href="<%= bolt_users_path %>">Users</a> 
	    <ul>
	      
	      <li><a href="<%= bolt_users_path %>">User Manager</a></li>
	      <li><a href="<%= bolt_groups_path %>">Group Managaer</a></li> 
	      
	    </ul> 
	  </li> 
	  <li><a href="">Content</a> 
	    <ul> 
	      <li><a href="<%= bolt_articles_path %>">Article Manager</a></li> 
	      <li><a href="<%= bolt_categories_path %>">Category Manager</a></li> 
	      <li><a href="<%= bolt_blogs_path %>">Blog Manager</a></li> 
	      <li><a href="<%= bolt_media_path %>">Media Manager</a></li> 
	      
	    </ul> 
	  </li>
	  
          <li><a href="<%= bolt_pages_path %>">Pages</a> 
	    <ul> 
	      <li><a href="<%= bolt_pages_path %>">Page Manager</a></li> 
	    </ul> 
	  </li> 
	  
	  
	</ul>	
        <p align="right"><a  href="/bolt/user_session" data-method="delete" rel="nofollow"><%= image_tag("logout.png") %></a></p></div></td>
  </p>
  
</table>

    
      
    </div>
    
    <div id="content">
      <div id="data">
	<% if flash[:warning] %>
	<div id="error">
	  <%= flash[:warning] %>
	</div>
	<% end %>
	<% if flash[:notice] %>
	<div id="notice">
	  <%= flash[:notice] %>
	</div>
	<% end %>
	<%= yield %>
      </div>
    </div>
  </body>
</html>
